@(name: String)
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
</head>
<body>
<center>
    <table>
        <tr>
            <td>
                <table style="border-radius: 10px; -webkit-border-radius: 10px;	-moz-border-radius: 10px; border: 1px #9235b5 solid;" border="0" align="center">
                    <tr>
                        <td colspan="3" height="6"></td>
                    </tr>
                    <tr style="line-height: 0px;">
                        <td width="100%" align="center" height="1">
                            <img width="80px" style="width: 80px;" alt="" src="https://s3.amazonaws.com/broshoutcommons/logo-full.png">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table cellpadding="0" cellspacing="0" style="line-height: 20px;" border="0" align="center">
                                <tr>
                                    <td colspan="3" height="30"></td>
                                </tr>
                                <tr>
                                    <td width="30"></td>
                                    <td width="463" align="left" style="border-collapse: collapse; font-size: 10pt; font-family: Arial; max-width: 463px; color: #222222" valign="top">
                                        <h3>Thanks @name!</h3>
                                        Your email has been verified and you can now start using BroShout.
                                        <br><br>
                                        To get the most out of this little app, invite your closest friends to join in.
                                        <br>
                                        You can invite friends by pressing the + icon in the friends screen.
                                        <br>
                                        Just write their email address and BroShout will search for them. If the email address is not found, you will get the option to invite them.
                                        We will then send them an email, explaining how and why to join.
                                        <br><br>
                                        We use BroShout all the time to arrange stuff like going to the beach, going out for a beer or cook together.
                                        <br>
                                        Some even use it as an alternative to a normal calendar.
                                        <br><br>
                                        We hope you and your friends will enjoy using BroShout!
                                        <br><br>
                                        The <span style="color: #9235b5">Bro</span>Team
                                    </td>
                                    <td width="30"></td>
                                </tr>
                                <tr>
                                    <td colspan="3" height="30"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
                <table cellpadding="0" cellspacing="0" align="center" border="0">
                    <tr>
                        <td height="10"></td>
                    </tr>
                    <tr>
                        <td style="padding: 0; border-collapse: collapse;">
                            <table cellpadding="0" cellspacing="0" align="center" border="0">
                                <tr style="color: #9235b5; font-size: 10px; font-family: Arial; -webkit-text-size-adjust: none;">
                                    <td width="128" align="left">&#169; 2015 BroShout</td>
                                    <td width="400" align="right"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</center>
</body>
</html>